
*{
    font-family: helvetica;

}
header{
    background-color: rgba(125, 171, 171, 0.966);  
}

nav{
    display: flex;
    align-content: center;
    /* margin-right: 60px; */
    padding: auto 80px;
    
}

ul{
    list-style: none;
    
}

